#form
  = f.label :username, "Username"
  = f.text_field :username
  %br
  = f.label :email, "Email"
  = f.text_field :email
  %br
  = f.label :role_id, "Role"
  = f.select(:role_id, @roles)
  %br
  = f.label :username, "Password"
  = f.password_field :password
  %br
  = f.label :confirmation, "Confirmation Password"
  = password_field_tag 'confirmation'
  %br
  =f.submit



