#form
  %table
    %tr
      %td
        = f.label :username, "Username"
      %td
        = f.text_field :username
    %tr
      %td
        = f.label :email, "Email"
      %td
        = f.text_field :email
    %tr
      %td
        = f.label :role_id, "Role"
      %td
        = f.select(:role_id, @roles)
    %tr
      %td
        = f.label :username, "Password"
      %td
        = f.password_field :password
    %tr
      %td
        = f.label :confirmation, "Confirmation Password"
      %td
        = password_field_tag 'confirmation'

#green-button
  = link_to content_tag(:span, "Create User"), "#", :class => "green-button pcb", :onclick => "submit_form();"
  =# f.submit

:javascript
  function submit_form(){
    $("#add_user").submit();
  }

