USERS
#users
  %table{:class => "stats"}
    %th
      Username
    %th
      Email
    %th
      Role
    %th

    - @users.each do |u|
      - unless u.id == current_user.id
        %tr
          %td{:id => "user_#{u.id}"}
            = link_to "#{u.username}", show_user_path(:id => u.id)
          %td
            = u.email
          %td
            = u.role.title
          %td
            %a{:onclick => "jConfirm('Delete #{u.username}, from SIMAI?', 'Simai',function(r){remove_user(r,'#{u.id}');});return false"} Delete
%br
#green-button
  = link_to content_tag(:span, "Create User"), new_user_path, :class => "green-button pcb"