USERS
#users
  - @users.each do |u|
    %div{:id => "user_#{u.id}"}
      = link_to "#{u.username}", show_user_path(:id => u.id)
      %br
      %a{:onclick => "jConfirm('Delete #{u.username}, from SIMAI?', 'Simai',function(r){remove_user(r,'#{u.id}');});return false"} Delete